<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        
      <add key="EmailFromUsername" value="xxx@gmail.com" />
      <add key="EmailFromPassword" value="xxx" />

      <add key="EmailFrom" value="notifier@gmail.net" />
      <add key="EmailTo" value="reciver@gmail.net" />
        
      <add key="SmtpHost" value="smtp.gmail.com" />
      <add key="SmtpPort" value="587" />

      <add key="SubjectPattern" value="Notification from {0}. {1}" />
      <add key="BodyPattern" value="Notification from {0}. {1}" />
      
      
      
    </appSettings>
</configuration>